<h2 id="title">Welcome to Ember</h2>
{{outlet}}
<div class="block">
<h2 id="1">ONE</h2>
{{#element-scroll target='2'}}two{{/element-scroll}}
{{#element-scroll target='5'}}five{{/element-scroll}}
</div>
<div class="block">
<h2 id="2">TWO</h2>
{{#element-scroll target='3'}}three{{/element-scroll}}
</div>
<div class="block">
<h2 id="3">THREE</h2>
{{#element-scroll target='4'}}four{{/element-scroll}}
</div>
<div class="block">
<h2 id="4">FOUR</h2>
{{#element-scroll target='5'}}five{{/element-scroll}}
</div>
<h2 id="5">FIVE</h2>
{{#element-scroll target='1'}}one{{/element-scroll}}